_ide_helper.php
.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpactor.json
.phpunit.result.cache
.scribe/.filehashes
.scribe/*.cache
.scribe/endpoints
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/node_modules
/public/adminer.php
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
